<!-- <p>classes-list works!</p>

<p *ngFor="let class of classesList" (click)="show(class)">{{ class.id }}
    <button mat-raised-button color="warn" (click)="deleteClass(class.id)">Delete</button>

</p>

Id <input type="text" [(ngModel)]="selectedClass.id"> <br>
TrainerId <input type="text" [(ngModel)]="selectedClass.trainer"> <br>
classroom <input type="text" [(ngModel)]="selectedClass.classroom"> <br>
start_date <input type="text" [(ngModel)]="selectedClass.start_date"> <br>
end_date <input type="text" [(ngModel)]="selectedClass.end_date"> <br>
max_capacity <input type="text" [(ngModel)]="selectedClass.max_capacity"> <br>
current_capacity <input type="text" [(ngModel)]="selectedClass.current_capacity"> <br>
class_category <input type="text" [(ngModel)]="selectedClass.class_category"> <br>
participants <input type="text" [(ngModel)]="selectedClass.participants"> <br>

<button (click)="addClass()">Add Class</button>

<hr> -->


<table mat-table [dataSource]="classesList" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element" (click)="show(element)"> {{element.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="trainer">
        <th mat-header-cell *matHeaderCellDef> Trainer </th>
        <td mat-cell *matCellDef="let element"> {{element.trainer}} </td>
    </ng-container>

    <ng-container matColumnDef="classroom">
        <th mat-header-cell *matHeaderCellDef> Classroom </th>
        <td mat-cell *matCellDef="let element"> {{element.classroom}} </td>
    </ng-container>
    
    <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef> StartDate </th>
        <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
    </ng-container>

    <ng-container matColumnDef="class_category">
        <th mat-header-cell *matHeaderCellDef> Class Category </th>
        <td mat-cell *matCellDef="let element"> {{element.class_category}} </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef> Capacity </th>
        <td mat-cell *matCellDef="let element"> {{element.participants.length}}/{{element.max_capacity}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let element">
            <button mat-fab color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-fab color="primary" (click)="deleteClass(element.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <button mat-raised-button color="primary"> Add Class </button>