<mat-toolbar color="primary" class="mat-elevation-z6">

    <span routerLink="" class="logo">
        <mat-icon>fitness_center</mat-icon>
        Best Gym
    </span>

    <div class="spacer"></div>

    <a mat-button routerLink="">Home</a>
    <a mat-button routerLink="trainings">Trainings</a>
    <a mat-button routerLink="classrooms">About Us</a>
    <a mat-raised-button color="primary" routerLink="login" *ngIf="!authenticated">Log In</a>
    <a mat-button routerLink="register" *ngIf="!authenticated">Register</a>
    <a mat-raised-button color="primary" routerLink="login" *ngIf="authenticated" (click)="logout()">Logout</a>


</mat-toolbar>