<div class="main-div">
    <mat-card>
      <form [formGroup]="form" class="login-form" (submit)="submit()">

        <mat-form-field>
          <input
            matInput
            placeholder="name"
            formControlName="name"
          />
        </mat-form-field>
  
        <mat-form-field>
          <input
            matInput
            placeholder="description"
            formControlName="description"
          />
        </mat-form-field>
  
        <button mat-raised-button type="submit">Add</button> <br />
      </form>
    </mat-card>
  </div>