<table mat-table [dataSource]="classesList" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">
      {{ element.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="trainer">
    <th mat-header-cell *matHeaderCellDef>Trainer</th>
    <td mat-cell *matCellDef="let element">{{ element.trainer }}</td>
  </ng-container>

  <ng-container matColumnDef="classroom">
    <th mat-header-cell *matHeaderCellDef>Classroom</th>
    <td mat-cell *matCellDef="let element">{{ element.classroom }}</td>
  </ng-container>

  <ng-container matColumnDef="start_date">
    <th mat-header-cell *matHeaderCellDef>StartDate</th>
    <td mat-cell *matCellDef="let element">
      {{ element.start_date | date: "dd/MM/yyyy/ hh:mm" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="class_category">
    <th mat-header-cell *matHeaderCellDef>Class Category</th>
    <td mat-cell *matCellDef="let element">{{ element.class_category }}</td>
  </ng-container>

  <ng-container matColumnDef="capacity">
    <th mat-header-cell *matHeaderCellDef>Capacity</th>
    <td mat-cell *matCellDef="let element">
      {{ element.participants.length }}/{{ element.max_capacity }}
    </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element">

      <button
        *ngIf="loggedUser.is_staff || loggedUser.is_superuser"
        mat-fab
        color="primary"
        (click)="deleteClass(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        *ngIf="showRegisterButton(element.id, element.participants.length, element.max_capacity)"
        mat-raised-button
        color="primary"
        (click)="register(element.id)"
      >
        Register
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<br />
<button
  mat-raised-button
  color="primary"
  *ngIf="loggedUser.is_staff || loggedUser.is_superuser"
  (click)="onCreate()"
>
  Add Class
</button>